* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svetafor {
  width: 500px;
  height: 990px;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .light {
    width: 300px;
    aspect-ratio: 1;
    background: grey;
    border-radius: 50%;

    &.red.on {
      background: red;
    }

    &.yellow.on {
      background: yellow;
    }

    &.green.on {
      background: green;
    }
  }
}
